**/*.o
**/*.d
**/*.exe
**/*.out
**/*.bat
**/*.cmd
**/*.sh
**/*.db
**/~*
**/#*
**/*~
x64/*
Debug/*
**/*.opensdf
**/*.opendb
**/*.sdf
**/*.sln
**/*.vcxproj
**/*.vcxproj.*
**/*.log
.vs/*
massim/*
*.cfg
out
doku/*
.gdbinit
build_files/
stats
**/*.pdb
libwinpthread-1.dll
graph_data/
tf_data/
schaf
schaf_fast
README.html
include_win/
profdata/
training_data/
